{% extends "base.html" %}
{% block title %}Alumni Info{% endblock %}

{% block content %}
<section class="section">
  <div class="columns">
    <div class="column">
      {{ticket_no}}
      <div id="form-body">
          Loading a form...
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block scripts %}
{{super()}}
<script>
  var ticketNo = {{ticket_no|tojson|safe}}
  function closeLIFFWindow() {
    liff.closeWindow();
  }
  liff.init({
    liffId: "2006693395-RZwO4OEj", // Use own liffId
    withLoginOnExternalBrowser: true,
  }).then(function () {
    let profile = liff.getDecodedIDToken();
    htmx.ajax('GET', '/member/members/line-id/' + profile.sub + '/check-info?ticket_no=' + ticketNo, {target: '#form-body', swap: 'innerHTML'})
  })
  document.addEventListener('closeLIFFWindow', function () {
    liff.closeWindow();
  })
</script>
{% endblock %}
