{% extends "base.html" %}
{% block title %}Alumni Info{% endblock %}

{% block content %}
<section class="section">
  <div class="columns">
    <div class="column">
      <h1 class="title has-text-centered">ข้อมูลส่วนตัวสมาชิก</h1>
      <form method="post">
        {{form.hidden_tag()}}
        {{form.line_id(type="hidden")}}
        <div class="field">
          <label class="label">{{form.title.label}}</label>
          <div class="control">
            {{form.title(class="input")}}
          </div>
        </div>
        <div class="field">
          <label class="label">{{form.firstname.label}}</label>
          <div class="control">
            {{form.firstname(class="input")}}
          </div>
        </div>
        <div class="field">
          <label class="label">{{form.lastname.label}}</label>
          <div class="control">
            {{form.lastname(class="input")}}
          </div>
        </div>
        <div class="field">
          <label class="label">{{form.telephone.label}}</label>
          <div class="control">
            {{form.telephone(class="input")}}
          </div>
        </div>
        <div class="field">
          <label class="label">{{form.email.label}}</label>
          <div class="control">
            {{form.email(class="input")}}
          </div>
        </div>
        <div class="field">
          <label class="label">{{form.graduate_year.label}}</label>
          <div class="control">
            {{form.graduate_year(class="input")}}
          </div>
        </div>
        <div class="field">
          <label class="label">{{form.program.label}}</label>
          <div class="select">
            {{form.program()}}
          </div>
        </div>
        <div class="field">
          <label class="label">{{form.work_office.label}}</label>
          <div class="control">
            {{form.work_office(class="textarea")}}
          </div>
        </div>
        <div class="field is-grouped is-centered">
          <div class="control">
            <a class="button is-light" href="{{url_for('event.list_participants', event_id=event_id)}}">
              <span>Cancel</span>
            </a>
            <button type="submit" class="button is-success">
              <span>Update</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
