{% extends "base.html" %}

{% block content %}
<section class="section">
  <div class="columns">
    <div class="column">
      <h1 class="title">{{participant.event.name}}</h1>
      <h1 class="subtitle">รายการชำระเงิน</h1>
      <table class="table is-bordered is-fullwidth">
        <thead>
        <th>ชื่อผู้ชำระเงิน</th>
        <th>จำนวนเงิน</th>
        <th>เวลาส่งหลักฐาน</th>
        <th>Slip</th>
        <th>อนุมัติการชำระเงิน</th>
        <th>หมายเหตุ</th>
        <th>วิธีการชำระ</th>
        </thead>
        <tbody>
        {% for payment in participant.payments %}
        <tr>
          <td>{{participant}}
            <a hx-get="{{url_for('event.admin_edit_participant', participant_id=participant.id)}}" hx-target="#form-modal" hx-swap="innerHTML">
              <span class="icon">
                <i class="fa-solid fa-pencil"></i>
              </span>
            </a>
          </td>
          <td>{{payment.amount}}</td>
          <td>{{payment.create_datetime|localdatetime}}</td>
          <td>
            {% if payment.key %}
            <a class="button is-rounded is-info" href="{{url_for('event.download_file', key=payment.key, download_filename=payment.filename)}}">
              Download
            </a>
            {% endif %}
          </td>
          <td>
            {% if payment.approve_datetime %}
            {{payment.approve_datetime|localdatetime}}
            <a hx-confirm="คุณต้องการยกเลิกการอนุมัติการชำระเงินใช่หรือไม่"
               hx-indicator="this"
               hx-post="{{url_for('event.cancel_payment_approval', payment_id=payment.id)}}"
               hx-headers='{"X-CSRFToken": "{{ csrf_token() }}"}'
               hx-swap="none"
            >
              <span class="icon">
                <i class="fas fa-times has-text-danger"></i>
              </span>
            </a>
            {% else %}
            <div class="buttons has-addons">
              <a hx-target="#form-modal"
                 hx-swap="innerHTML"
                 hx-get="{{url_for('event.approve_payment_batch', payment_id=payment.id)}}"
                 class="button is-rounded is-info"
              >
                <span class="icon">
                  <i class="fas fa-check"></i>
                </span>
                <span>ชำระล่วงหน้า</span>
              </a>
              <a hx-target="#form-modal"
                 hx-swap="innerHTML"
                 hx-get="{{url_for('event.approve_payment_batch', payment_id=payment.id, prepaid='false')}}"
                 class="button is-rounded is-warning"
              >
                <span class="icon">
                  <i class="fas fa-check"></i>
                </span>
                <span>ชำระหน้างาน</span>
              </a>
            </div>
            {% endif %}
          </td>
          <td>
            {{payment.note or ""}}
            <a hx-target="#form-modal"
               hx-swap="innerHTML"
               hx-get="{{url_for('event.admin_add_payment_note', payment_id=payment.id)}}">
              <span class="icon">
                <i class="fa-solid fa-pencil"></i>
              </span>
            </a>
          </td>
          <td>
            {% if payment.approve_datetime %}
              {% if payment.walkin %}
              หน้างาน
              {% else %}
              ล่วงหน้า
              {% endif %}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      <div id="payment-form"></div>
      <div class="buttons is-centered">
        <a hx-get="{{url_for('event.admin_add_payment_record', participant_id=participant.id)}}"
           hx-target="#payment-form"
           hx-swap="innerHTML"
           class="button is-rounded is-link">เพิ่มรายการชำระเงิน</a>
        <a hx-post="{{url_for('event.admin_add_payment_record_onsite', participant_id=participant.id)}}"
           hx-prompt="โปรดระบุจำนวนเงิน (บาท)"
           hx-headers='{"X-CSRFToken": "{{ csrf_token() }}"}'
           hx-target="#payment-form"
           hx-swap="innerHTML"
           class="button is-rounded is-warning">เพิ่มรายการชำระเงินหน้างาน</a>
      </div>
      <div id="form-modal"></div>
      <h2 class="titlbe is-size-4">รายการบัตรที่จอง</h2>
      <table class="table is-fullwidth">
        <thead>
        <th>หมายเลขบัตร</th>
        <th>ผู้ถือบัตร</th>
        <th>วันเวลาที่จอง</th>
        <th>ชำระเงิน</th>
        <th>เช็คอิน</th>
        <th>หมายเหตุ</th>
        </thead>
        {% for ticket in participant.purchased_tickets %}
        <tr>
          <td>{{ticket.ticket_number}}</td>
          <td>
            {% if ticket.holder %}
            {{ticket.holder}}
            <a hx-get="{{url_for('event.admin_edit_participant', participant_id=ticket.holder_id)}}" hx-target="#form-modal" hx-swap="innerHTML">
              <span class="icon">
                <i class="fa-solid fa-pencil"></i>
              </span>
            </a>
            <a hx-delete="{{url_for('event.admin_release_ticket', ticket_id=ticket.id)}}"
               hx-headers='{"X-CSRFToken": "{{ csrf_token() }}"}'
               hx-confirm="ท่านต้องการปล่อยบัตรนี้หรือไม่"
               hx-target="#form-modal" hx-swap="innerHTML">
              <span class="icon">
                <i class="fa-solid fa-trash-can has-text-danger"></i>
              </span>
            </a>
            {% else %}
            <a href="{{url_for('event.admin_add_ticket_holder', ticket_id=ticket.id)}}"
               class="button is-rounded">
              <span class="icon">
                <i class="fa-solid fa-user-plus"></i>
              </span>
              <span>add</span>
            </a>
            {% endif %}
          </td>
          <td>{{ticket.create_datetime|localdatetime}}</td>
          <td>
            {% if ticket.payment_datetime %}
            {{ticket.payment_datetime|localdatetime}}
            <a hx-confirm="คุณต้องการยกเลิกการอนุมัติการชำระเงินใช่หรือไม่"
               hx-indicator="this"
               hx-post="{{url_for('event.cancel_ticket_payment_approval', ticket_id=ticket.id)}}"
               hx-headers='{"X-CSRFToken": "{{ csrf_token() }}"}'
               hx-swap="none"
            >
              <span class="icon">
                <i class="fas fa-times has-text-danger"></i>
              </span>
            </a>
            {% endif %}
          </td>
          <td>
            {% if ticket.checkin_datetime %}
            <span>
              {{ticket.checkin_datetime|localdatetime}}
            </span>
            <a hx-confirm="คุณต้องการยกเลิกการเช็คอินใช่หรือไม่"
               hx-post="{{url_for('event.cancel_checkin_ticket', ticket_id=ticket.id)}}"
               hx-indicator="this"
               hx-headers='{"X-CSRFToken": "{{ csrf_token() }}"}'
               hx-swap="none"
            >
              <span class="icon">
                <i class="fas fa-times has-text-danger"></i>
              </span>
            </a>
            {% else %}
            {% if ticket.payment_datetime and ticket.holder %}
            <a class="button is-rounded is-success"
               hx-indicator="this"
               hx-swap="outerHTML"
               hx-confirm="คุณแน่ใจว่าต้องการเช็คอินรายการนี้"
               hx-headers='{"X-CSRFToken": "{{ csrf_token() }}"}'
               hx-post="{{url_for('event.checkin_ticket', ticket_id=ticket.id)}}"
            >
              <span class="icon">
                <i class="fas fa-user-clock"></i>
              </span>
              <span>เช็คอิน</span>
            </a>
            {% endif %}
            {% endif %}
          </td>
          <td>
            {{ticket.note or ''}}
            <a hx-get="{{url_for('event.admin_edit_ticket', ticket_id=ticket.id)}}" hx-target="#form-modal" hx-swap="innerHTML">
              <span class="icon">
                <i class="fa-solid fa-pencil"></i>
              </span>
            </a>
          </td>
        </tr>
        {% endfor %}
      </table>
      <div class="buttons is-centered">
        <a hx-post="{{url_for('event.admin_add_ticket', participant_id=participant.id)}}"
           hx-target="#payment-form"
           hx-headers='{"X-CSRFToken": "{{ csrf_token() }}"}'
           hx-swap="innerHTML"
           hx-confirm="ท่านแน่ใจว่าต้องการจองบัตรเพิ่ม"
           class="button is-rounded is-light is-link">เพิ่มบัตร</a>
      </div>
      <div class="buttons">
        <a href="{{url_for('event.search', event_id=participant.event_id)}}" class="button is-rounded is-primary">Home</a>
        <a href="{{url_for('event.list_payments', event_id=participant.event_id)}}" class="button is-rounded">Back</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}