{% extends "base.html" %}

{% block content %}
<section class="section">
  <div class="columns">
    <div class="column">
      <h1 class="title">รายการชำระเงิน</h1>
      <table class="table is-bordered is-fullwidth">
        <thead>
        <th>ชื่อผู้ชำระเงิน</th>
        <th>จำนวนเงิน</th>
        <th>เวลาส่งหลักฐาน</th>
        <th>Slip</th>
        <th>ตรวจสอบแล้วเมื่อ</th>
        </thead>
        <tbody>
        {% for payment in participant.payments %}
        <tr>
          <td>{{participant}}</td>
          <td>{{payment.amount}}</td>
          <td>{{payment.create_datetime|localdatetime}}</td>
          <td>
            {% if payment.key %}
            <a class="button is-rounded is-info" href="{{url_for('event.download_file', key=payment.key, download_filename=payment.filename)}}">
              Download
            </a>
            {% endif %}
          </td>
          <td>
            {% if payment.approve_datetime %}
            {{payment.approve_datetime|localdatetime}}
            {% else %}
            <a hx-target="#form-modal"
               hx-swap="innerHTML"
               hx-get="{{url_for('event.approve_payment_batch', payment_id=payment.id)}}">Approve</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      <div id="form-modal"></div>
      <h2 class="titlbe is-size-4">รายการบัตรที่จอง</h2>
      <table class="table is-fullwidth">
        <thead>
        <th>หมายเลขบัตร</th>
        <th>ผู้ถือบัตร</th>
        <th>ชำระเงิน</th>
        </thead>
        {% for ticket in participant.purchased_tickets %}
        <tr>
          <td>{{ticket.ticket_number}}</td>
          <td>{{ticket.holder or ''}}</td>
          <td>
            {{ticket.payment_datetime|localdatetime}}
          </td>
        </tr>
        {% endfor %}
      </table>
      <a href="{{url_for('event.list_payments', event_id=participant.event_id)}}" class="button is-rounded">Back</a>
    </div>
  </div>
</section>
{% endblock %}