{% extends "base.html" %}

{% block content %}
<section class="section">
  <div class="columns">
    <div class="column">
      <h1 class="title">{{event.name}}</h1>
      <h1 class="subtitle">รายการชำระเงิน</h1>
      <div class="tabs is-boxed">
        <ul>
          <li {% if approved == "no" %} class="is-active" {% endif %}><a href="{{url_for('event.list_payments', event_id=event.id)}}">ยังไม่อนุมัติ</a></li>
          <li {% if approved == "yes" %} class="is-active" {% endif %}><a href="{{url_for('event.list_payments', event_id=event.id, approved='yes')}}">อนุมัติแล้ว</a></li>
        </ul>
      </div>
      <table id="table" class="table is-bordered is-fullwidth">
        <thead>
        <th>ชื่อผู้จอง</th>
        <th>เวลาที่จอง</th>
        <th>เวลาที่ส่งข้อมูล</th>
        <th>จำนวนเงินที่ชำระ</th>
        <th>เวลาอนุมัติ</th>
        <th>หมายเหตุ</th>
        </thead>
        <tbody>
        {% for payment in ticket_payments %}
        <tr>
          <td>
            <a href="{{url_for('event.check_payment', participant_id=payment.participant.id)}}">
            {{payment.participant}}
            </a>
          </td>
          <td>{{payment.participant.register_datetime|localdatetime}}</td>
          <td>{{payment.create_datetime|localdatetime}}</td>
          <td>
            {{payment.amount}}
          </td>
          <td>
            {{payment.approve_datetime|localdatetime}}
          </td>
          <td>
            {{payment.note or ""}}
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      <a href="{{url_for('event.search', event_id=event.id)}}" class="button is-rounded is-info">Home</a>
    </div>
  </div>
</section>
{% endblock %}
{% block scripts %}
{{super()}}
<script>
  $(document).ready(function () {
    new DataTable('#table')
  })
</script>
{% endblock %}
