{% extends "base.html" %}

{% block content %}
<section class="section">
  <div class="columns">
    <div class="column">
      {% include "messages.html" %}
      <h1 class="title">{{event.name}}</h1>
      <div class="has-text-centered">
        <figure class="image is-inline-block">
          <img src="{{url_for('static', filename='img/hearts.png')}}">
        </figure>
      </div>
      <p class="has-text-centered is-size-4">
        ลงทะเบียน {{event.tickets.count()}} คน
        เช็คอินแล้ว {{event.checked_tickets.count()}} คน ({{(event.checked_tickets.count()/event.tickets.count()*100)|round(2)}}%)
      </p>
      <div class="field">
        <div class="control has-icons-right">
          <input name="query"
                 hx-indicator="closest div"
                 hx-trigger="input changed delay:500ms"
                 hx-get="{{url_for('event.search', event_id=event.id)}}"
                 hx-swap="innerHTML"
                 hx-target="#table"
                 class="input is-large is-rounded", placeholder="ค้นหาด้วยชื่อ นามสกุลหรือหมายเลขบัตร">
          <span class="icon is-right">
            <i class="fas fa-search"></i>
          </span>
        </div>
      </div>
      <div id="modal"></div>
      <div id="table"></div>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <div class="buttons is-centered">
        <a href="{{url_for('event.all_events')}}" class="button is-rounded">Back</a>
        <a href="{{url_for('event.admin_register_participant', event_id=event.id)}}" class="button is-info is-rounded">ลงทะเบียน</a>
        <a href="{{url_for('event.list_payments', event_id=event.id)}}" class="button is-danger is-rounded">ตรวจสอบการชำระเงิน</a>
        <a href="{{url_for('event.list_participants', event_id=event.id)}}" class="button is-light is-rounded">รายชื่อผู้ลงทะเบียน</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
