{% extends "base.html" %}

{% block title %}Event Participant Registration{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title has-text-centered">
          {{event.name}}
        </h1>
        <h1 class="subtitle has-text-centered">
          {{event.detail}}
        </h1>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <h1 class="title is-size-4 has-text-centered">กรอกข้อมูลจองบัตรเข้าร่วมกิจกรรม</h1>
        <form hx-post="{{url_for('event.register_event', event_id=event.id)}}" hx-swap="none" hx-indicator="#submitBtn">
        {{form.hidden_tag()}}
        <input type="hidden" name="line_id" value="" required/>
          <div class="field">
            <label class="label">{{form.title.label}}</label>
            <div class="control">
              {{form.title(class="input")}}
            </div>
          </div>
        <div class="field">
          <label class="label">{{form.firstname.label}}</label>
          <div class="control">
            {{form.firstname(class="input is-danger")}}
          </div>
        </div>
        <div class="field">
          <label class="label">{{form.lastname.label}}</label>
          <div class="control">
            {{form.lastname(class="input is-danger")}}
          </div>
        </div>
        <div class="field">
          <label class="label">{{form.telephone.label}}</label>
          <div class="control">
            {{form.telephone(class="input")}}
            <p class="help is-info">สำหรับติดต่อในกรณีจำเป็น</p>
          </div>
        </div>
        <div class="field">
          <label class="label">{{form.number.label}}ที่ต้องการจอง</label>
          <div class="control">
            {{form.number(class="input")}}
          </div>
        </div>
        <div class="field is-grouped is-centered">
          <div class="control">
            <a class="button is-medium" onclick="closeLIFFWindow()">Cancel</a>
          </div>
          <div class="control">
            <button id="submitBtn" type="submit" class="button is-success is-medium">Submit</button>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
  function closeLIFFWindow() {
    liff.closeWindow();
  }
  liff.init({
    liffId: "2006693395-RZwO4OEj", // Use own liffId
    withLoginOnExternalBrowser: true,
  }).then(function () {
    let profile = liff.getDecodedIDToken();
    $('input[name="line_id"]').val(profile.sub)
  })
  document.addEventListener('closeLIFFWindow', function () {
    liff.closeWindow();
  })
</script>
{% endblock %}