{% extends "base.html" %}

{% block title %}Upcoming Events{% endblock %}

{% block content %}
{% include "event/nav.html" %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title is-size-4">{{event.name}}</h1>
                <h1 class="subtitle is-size-5">{{event.detail}}</h1>
                <label class="label">รายการบัตรที่ได้จองไว้</label>
                <table class="table is-fullwidth is-striped is-bordered">
                    <thead>
                    <th>รหัสบัตร</th>
                    <th>ชื่อผู้ใช้บัตร</th>
                    <th>วันที่จอง</th>
                    <th></th>
                    </thead>
                    <tbody>
                    {% for ticket in participant.owned_tickets %}
                    <tr>
                        <td><strong>{{ticket.ticket_number}}</strong></td>
                        <td>{{ticket.owner or 'ไม่มีเจ้าของ'}}</td>
                        <td>{{ticket.create_datetime|localdatetime}}</td>
                        <td>
                            <!--              <div class="buttons">-->
                            <!--                {% if not ticket.owner %}-->
                            <!--                <a hx-get="{{url_for('event.claim_ticket', event_id=event.id, ticket_id=ticket.id)}}" class="button is-small is-rounded is-link"-->
                            <!--                   hx-target="#claim-modal"-->
                            <!--                   hx-swap="innerHTML"-->
                            <!--                   hx-confirm="ท่านแน่ใจว่าจะเคลมบัตรนี้หรือไม่ หากท่านเคยเคลมบัตรแล้วบัตรนี้จะถูกใช้แทนบัตรเดิม"-->
                            <!--                >claim</a>-->
                            <!--                {% else %}-->
                            <!--                <a hx-delete="{{url_for('event.claim_ticket', event_id=event.id, ticket_id=ticket.id)}}"-->
                            <!--                   class="button is-small is-rounded is-outlined is-danger"-->
                            <!--                   hx-target="#claim-modal"-->
                            <!--                   hx-swap="innerHTML"-->
                            <!--                   hx-confirm="ท่านแน่ใจว่าจะยกเลิกการเป็นเจ้าของบัตรนี้หรือไม่"-->
                            <!--                >unclaim</a>-->
                            <!--                {% endif %}-->
                            <!--                <a href="{{url_for('event.register_event', event_id=event.id)}}" class="button is-small is-rounded is-danger">cancel</a>-->
                            <!--              </div>-->
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h1 class="title is-size-5">ยอดชำระรวม {{participant.total_balance}} บาท</h1>
                <h1 class="subtitle is-size-5 has-text-danger">ยอดชำระค้างจ่าย {{participant.total_amount_due}} บาท</h1>
                {% if participant.total_amount_due %}
                <form action="{{url_for('event.upload_payment_slip', event_id=event.id, participant_id=participant.id)}}"
                      method="post" enctype="multipart/form-data">
                    <div id="file" class="file is-normal is-boxed has-name">
                        <label class="file-label">
                            <input class="file-input" type="file" name="file"/>
                            <span class="file-cta">
                              <span class="file-icon">
                                  <i class="fa-solid fa-file-arrow-up"></i>
                              </span>
                              <span class="file-label">Upload Payment Slip… </span>
                            </span>
                            <span class="file-name"></span>
                        </label>
                    </div>
                    <div class="field">
                        <label class="label">จำนวนเงิน</label>
                        <div class="control">
                            <input type="number" class="input is-danger" required name="amount" step="any"/>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input class="button" type="submit" value="Upload"/>
                        </div>
                    </div>
                </form>
                {% endif %}
                <div id="claim-modal"></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
{{super()}}
<script>
    const fileInput = document.querySelector("#file input[type=file]");
    fileInput.onchange = () => {
        if (fileInput.files.length > 0) {
            const fileName = document.querySelector("#file .file-name");
            fileName.textContent = fileInput.files[0].name;
        }
    };
</script>
{% endblock %}