<form hx-post="{{url_for('event.register_event', event_id=event_id)}}" hx-swap="none" hx-indicator="#submitBtn">
  {{form.hidden_tag()}}
  <input type="hidden" name="line_id" value="{{line_id}}" required/>
  <div class="field">
    <label class="label">{{form.title.label}}</label>
    <div class="control">
      {{form.title(class="input")}}
    </div>
  </div>
  <div class="field">
    <label class="label">{{form.firstname.label}}</label>
    <div class="control">
      {{form.firstname(class="input is-danger")}}
    </div>
  </div>
  <div class="field">
    <label class="label">{{form.lastname.label}}</label>
    <div class="control">
      {{form.lastname(class="input is-danger")}}
    </div>
  </div>
  <div class="field">
    <label class="label">{{form.telephone.label}}</label>
    <div class="control">
      {{form.telephone(class="input")}}
      <p class="help is-info">สำหรับติดต่อในกรณีจำเป็น</p>
    </div>
  </div>
  <div class="field">
    <label class="label">{{form.group.label}}</label>
    <div class="select">
      {{form.group()}}
    </div>
  </div>
  <div class="field">
    <label class="checkbox">
      {{form.consent()}}
      ข้าพเจ้ายินยอมให้บันทึกข้อมูลส่วนตัวในฐานข้อมูลศิษย์เก่า (สำหรับศิษย์เก่า)
    </label>
  </div>
  <p class="help"></p>
  <div class="field">
    <label class="label">{{form.number.label}}ที่ต้องการจอง</label>
    <div class="control">
      {{form.number(class="input")}}
    </div>
  </div>
  <div class="field is-grouped is-centered">
    <div class="control">
      <a class="button is-medium" onclick="closeLIFFWindow()">Cancel</a>
    </div>
    <div class="control">
      <button id="submitBtn" type="submit" class="button is-success is-medium">Submit</button>
    </div>
  </div>
</form>
